#.gitignore monapollo-firmware

#ignore xnor midi library
monapollo-firmware/monapollo-firmware/xnormidi-develop/doc/
monapollo-firmware/monapollo-firmware/xnormidi-develop/test/
monapollo-firmware/monapollo-firmware/xnormidi-develop/implementations/

#ignore xnor midi debug folder

monapollo-firmware/monapollo-firmware/Debug/xnormidi-develop/

#ignore irritating Atmel Studio .atsuo file
/monapollo-firmware/monapollo-firmware.atsuo